{% load static %}
<!DOCTYPE HTML>
<html>
<head><title>Yosh - Jadidlar</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" href="{% static 'vendor/images/logo.jpg' %}">

</head>
<body>
<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="{% url 'aplication:home' %}">Yosh Jadidlar </a><i class="fa-brands fa-pied-piper-hat"
                                                                                 style="color: #ffffff;"></i></div>
    <a href="#menu">Menu</a>
</header><!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="{% url 'aplication:home' %}">Asosiy Sahifa</a></li>
        <li><a href="{% url 'aplication:about' %}">Haqida</a></li>
        <li><a href="{% url 'aplication:public' %}">Ilmiy Jurnal</a></li>
<!--        <li><a href="{% url 'aplication:generic' %}">Generic</a></li>-->

    </ul>
</nav><!-- Banner -->
<section class="banner full">
    <article><img src="{% static 'vendor/images/cholpon.jpeg' %}" alt="" width="1440" height="961">
        <div class="inner">
            <header><p><a href="">Adabiyot yashasa - millat yashar.</a></p>
                <h2>Abdulhamid Cho'lpon</h2>
            </header>
        </div>
    </article>
    <article><img src="{% static 'vendor/images/aavloniy.jpeg' %}" alt="" width="1440" height="961">
        <div class="inner">
            <header><p><a href="">Ilm insonlarning madori hayoti, rahbari, najotidur.</a></p>
                <h2>Abdulla Avloniy</h2>
            </header>
        </div>
    </article>
    <article><img src="{% static 'vendor/images/ayniy.jpeg' %}" alt="" width="1440" height="962">
        <div class="inner">
            <header><p><a href="">Har millat o‘z tili ila faxr etar.</a></p>
                <h2>Sadriddin Ayniy</h2>
            </header>
        </div>
    </article>
    <article><img src="{% static 'vendor/images/fitrat.jpeg' %}" alt="" width="1440" height="961">
        <div class="inner">
            <header><p><a href="">Har bir millat taraqqiysi uchun asosiy sabab ilmdir.</a></p>
                <h2>Abdurauf Firat</h2>
            </header>
        </div>
    </article>
    <article><img src="{% static 'vendor/images/behbudiy.jpeg' %}" alt="" width="1440" height="962">
        <div class="inner">
            <header><p><a href="">Haq olinur, berilmas!</a></p>
                <h2>Mahmudxo'ja Behbudiy</h2>
            </header>
        </div>
    </article>
</section><!-- One -->
<section id="one" class="wrapper style2">
    <h2 class="align-center" style="padding-bottom: 40px; font-weight: 500; font-size: 50px;">E'lonlar</h2>
    <div class="inner">
        <div class="grid-style">
            {% for forum in forums %}
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="{{ forum.image.url }}" alt="" class="card-img-top" style=" width: 100%;
            height: 380px;
            object-fit: cover;
            margin-bottom: 15px;"></div>
                        <div class="content">
                            <h2>{{ forum.title }}</h2>
                            </header>
                            <p>{{ forum.min_desc }}.</p>
                            <footer class="align-center"><a href="{% url 'aplication:forum-detail' forum.id %}" class="button alt">Batafsil</a>
                            </footer>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section><!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center"><p>Yosh Jadidlar” ilmiy tadqiqot markazi — bu ijtimoiy va gumanitar fanlar,
            ekologiya, innovatsiyalar va yoshlarning intellektual rivojlanishiga qaratilgan faoliyat yurituvchi nodavlat
            tashkilotdir. Markaz 2025-yilda Jizzax viloyatida ro‘yxatdan o‘tgan bo‘lib, ilmiy tadqiqotlar, xalqaro
            loyihalar, nashriyotchilik faoliyati va ta’limiy dasturlar orqali ilm-fan va jamiyat rivojiga hissa
            qo‘shadi</p>
            <h2>Biz haqimizda</h2>
        </header>
    </div>
</section><!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <h2>Yangiliklar</h2>
        </header>
        <div class="gallery">
        {% for new in news %}
            <div>
                <div class="image fit">
                    <a href="{% url 'aplication:new-detail' new.id %}"><img src="{{ new.image.url }}" alt="" class="image-islom" style=" width: 100%;
            height: 380px;
            object-fit: cover;
            margin-bottom: 15px;"></a>
                    <h2 style="padding-top: 10px">{{ new.title }}</h2>
                    <p>{{ new.min_desc }}</p>
                    <footer class="align-center"><a href="{% url 'aplication:new-detail' new.id %}" class="button alt">Batafsil</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section><!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="">
            <li style="list-style-type: none">Manzil: Jizzax Davlat Pedagogika Universiteti</li>
            <li style="list-style-type: none">Telefon: +998 884470312</li>
            <li style="list-style-type: none">E-Manzil: yoshjadidlartadqiqotmarkazi@gmail.com</li>
        </ul>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/yosh_jadidlar_/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
</footer>
<div class="copyright">
    "Yosh Jadidlar" ilmiy tadqiqot markazi
</div>

<!-- Scripts -->
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'vendor/js/skel.min.js' %}"></script>
<script src="{% static 'vendor/js/util.js' %}"></script>
<script src="{% static 'vendor/js/main.js' %}"></script>
</body>
</html>
